<%- include('partials/header.ejs') %>

  <section>

    <ul></ul>
    <form>
      <input type="text" placeholder="Type your message">
      <button><img src="/assets/send-icon.png" alt="Send Icon"></button>
    </form>
  </section>

  <%- include('partials/footer.ejs') %>