:root {
  --dark-grey: #1a1a1a;
  --black: #171919;
  --white: #fff;
  --light-grey: #f5f6f9;
  --blue: #888caf;
}

@font-face {
  font-family: 'Modern Era Medium';
  src: url('../assets/Modern-Era-Medium.ttf');
}

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Modern Era Medium', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}

main {
  height: 30em;
  width: 30em;
}

ul {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
  overflow-y: auto;
  background-color: var(--white);
}

li:first-child {
  margin-top: 1em;
}

li:last-child {
  margin-bottom: 1em;
}

li {
  width: 10em;
  padding: 1em;
  border-radius: 0.5em;
}

.received {
  background-color: var(--black);
  color: var(--white);
}

.sent {
  align-self: flex-end;
  background-color: var(--blue);
  color: var(--white);
}

header {
  background-color: var(--black);
  color: var(--white);
  padding: 1.5em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7em;
  align-items: center;

  margin-top: 2em;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

header .scrollbook-logo {
  width: 4em;
}

header .leave-icon {
  cursor: pointer;
  width: 1.5em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: var(--black);
  padding: 2em 0;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

input {
  all: unset;
  background-color: var(--light-grey);
  padding: 0 2em;
  border-radius: 0.5em;
  height: 2.5em;
  width: 70%;
}

button {
  all: unset;
  background-color: var(--blue);
  height: 2.5em;
  width: 2.5em;
  border-radius: 0.5em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button img {
  width: 1em;
  margin: 0 auto;
}
